node-red flow.json
[{"id":"59a59a98.66fdd4","type":"tab","label":"3D Printer Notifications","disabled":false,"info":""},{"id":"88623a6.96706c8","type":"server-state-changed","z":"59a59a98.66fdd4","name":"Printing stopped","server":"67fb9d0f.36c644","version":1,"entityidfilter":"binary_sensor.cr10s_pro_printing","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":226.15122985839844,"y":44.38862419128418,"wires":[["420e91f.901ff7"],[]]},{"id":"420e91f.901ff7","type":"function","z":"59a59a98.66fdd4","name":"Printing complete","func":"msg.payload = \"3D printing is complete\"\nreturn msg;","outputs":1,"noerr":0,"x":424.0120735168457,"y":46.643303871154785,"wires":[["bcff8a4d.cf2e28"]]},{"id":"5841b0aa.76b6d","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing complete from lounge","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090U509851613N5"]}},"x":1278.9164085388184,"y":84.83376121520996,"wires":[[]]},{"id":"ba8239ce.0c1a78","type":"server-state-changed","z":"59a59a98.66fdd4","name":"Printing started","server":"67fb9d0f.36c644","version":1,"entityidfilter":"binary_sensor.cr10s_pro_printing","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":234.3453369140625,"y":174.56642150878906,"wires":[["f64c7dc.3f1b18"],[]]},{"id":"f64c7dc.3f1b18","type":"function","z":"59a59a98.66fdd4","name":"Printing started","func":"msg.payload = \"3D printing has started\"\nreturn msg;","outputs":1,"noerr":0,"x":428.8728256225586,"y":180.15456867218018,"wires":[["c33ed5b3.fdcdd8"]]},{"id":"ad313432.01f068","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say 3D printing has started from Lounge","account":"b239b309.c9557","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090U509851613N5"]}},"x":1288.77734375,"y":206.2021656036377,"wires":[[]]},{"id":"b5ab83cc.7a2c3","type":"switch","z":"59a59a98.66fdd4","name":"If printing from SD card","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"Printing from SD","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380.82850646972656,"y":573.0485565662384,"wires":[["19d6582a.9265d8"],["9129b4d8.5da958"]]},{"id":"4f7523ec.4eecac","type":"api-current-state","z":"59a59a98.66fdd4","name":"Get Printing State","server":"67fb9d0f.36c644","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cr10s_pro_current_state","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":364.54354095458984,"y":506.9724328517914,"wires":[["b5ab83cc.7a2c3"]]},{"id":"9129b4d8.5da958","type":"api-current-state","z":"59a59a98.66fdd4","name":"","server":"67fb9d0f.36c644","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cr10s_pro_time_remaining","state_type":"num","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":717.6358871459961,"y":608.3454303741455,"wires":[["f1641a5e.8060b8"]]},{"id":"f1641a5e.8060b8","type":"function","z":"59a59a98.66fdd4","name":"msg.payload = msg.time","func":"msg.payload = msg.time\nreturn msg;","outputs":1,"noerr":0,"x":1023.3830261230469,"y":608.6744213104248,"wires":[["1f68f2ff.2b6fdd"]]},{"id":"1f68f2ff.2b6fdd","type":"api-current-state","z":"59a59a98.66fdd4","name":"Printing status","server":"67fb9d0f.36c644","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cr10s_pro_job_percentage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1234.4463119506836,"y":607.509651184082,"wires":[["265b2791.891538"]]},{"id":"265b2791.891538","type":"function","z":"59a59a98.66fdd4","name":"Remove decimals","func":"msg.payload = msg.payload / 1\nmsg.payload = parseFloat(msg.payload .toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1423.5223121643066,"y":607.4645013809204,"wires":[["43a006f5.e3fe08"]]},{"id":"43a006f5.e3fe08","type":"function","z":"59a59a98.66fdd4","name":"Get payload & time remaining","func":"msg.time = msg.time / 60\nmsg.time = parseFloat(msg.time .toFixed(1))\nmsg.payload =  \"The printing status is \" + msg.payload + \" Percent complete, with \" + msg.time + \" minutes remaining\" ;\nreturn msg;","outputs":1,"noerr":0,"x":1662.9615097045898,"y":608.986852645874,"wires":[["3e542152.6ad5ee"]]},{"id":"4ea04657.680b68","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from lounge","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090U509851613N5"]}},"x":2515.2940216064453,"y":636.7834014892578,"wires":[[]]},{"id":"19d6582a.9265d8","type":"api-current-state","z":"59a59a98.66fdd4","name":"Printing status","server":"67fb9d0f.36c644","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cr10s_pro_job_percentage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":627.1384658813477,"y":531.7954609394073,"wires":[["999ec59e.3841e8"]]},{"id":"999ec59e.3841e8","type":"function","z":"59a59a98.66fdd4","name":"Remove decimals","func":"msg.payload = msg.payload / 1\nmsg.payload = parseFloat(msg.payload .toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":821.8099136352539,"y":530.2023553848267,"wires":[["ef3046df.020688"]]},{"id":"ef3046df.020688","type":"function","z":"59a59a98.66fdd4","name":"Get payload & time remaining","func":"msg.payload =  \"The printing status is \" + msg.payload + \" Percent complete\";\nreturn msg;","outputs":1,"noerr":0,"x":1061.2489852905273,"y":530.2964992523193,"wires":[["a2f3a788.b547c8"]]},{"id":"61131030.1a3cf","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from lounge","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090U509851613N5"]}},"x":1924.5699844360352,"y":551.5932807922363,"wires":[[]]},{"id":"cc1b7e84.a4c37","type":"alexa-home","z":"59a59a98.66fdd4","conf":"","device":"120276","acknoledge":true,"name":"","topic":"3D Printer Status","x":189.50411224365234,"y":297.87891578674316,"wires":[["25269e81.35e672"]]},{"id":"251134c0.22a8cc","type":"server-state-changed","z":"59a59a98.66fdd4","name":"If Dave is in bed","server":"67fb9d0f.36c644","version":1,"entityidfilter":"binary_sensor.dave_in_bed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":227.51197814941406,"y":744.4251976013184,"wires":[["2f38e743.02d108"],["bba9eb63.44d118"]]},{"id":"2f38e743.02d108","type":"function","z":"59a59a98.66fdd4","name":"i_am_in_bed","func":"flow.set (\"i_am_in_bed\",true);\nvar i_am_in_bed_status = flow.get (\"i_am_in_bed\");\nmsg.topic= i_am_in_bed_status;\nreturn msg;","outputs":1,"noerr":0,"x":418.6315116882324,"y":727.2886371612549,"wires":[[]]},{"id":"bba9eb63.44d118","type":"function","z":"59a59a98.66fdd4","name":"i_am_not_in_bed","func":"flow.set (\"i_am_in_bed\",false);\nvar i_am_in_bed_status = flow.get (\"i_am_in_bed\");\nmsg.topic= i_am_in_bed_status;\nreturn msg;","outputs":1,"noerr":0,"x":429.65479278564453,"y":772.1720142364502,"wires":[[]]},{"id":"e0274094.3fa07","type":"switch","z":"59a59a98.66fdd4","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1605.1774520874023,"y":528.000509262085,"wires":[["f5439b6f.3976c8"],["61131030.1a3cf"],["61131030.1a3cf"]]},{"id":"a2f3a788.b547c8","type":"function","z":"59a59a98.66fdd4","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":1329.6534957885742,"y":528.959792137146,"wires":[["e0274094.3fa07"]]},{"id":"f5439b6f.3976c8","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from bedroom","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1928.0644264221191,"y":501.91690826416016,"wires":[[]]},{"id":"63c36469.83236c","type":"switch","z":"59a59a98.66fdd4","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":2204.709457397461,"y":608.723798751831,"wires":[["29dd76e9.6a5caa"],["4ea04657.680b68"],["4ea04657.680b68"]]},{"id":"3e542152.6ad5ee","type":"function","z":"59a59a98.66fdd4","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":1934.4235000610352,"y":609.6832323074341,"wires":[["63c36469.83236c"]]},{"id":"29dd76e9.6a5caa","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from bedroom","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":2525.0443954467773,"y":574.2708311080933,"wires":[[]]},{"id":"b3e4a749.2811c8","type":"switch","z":"59a59a98.66fdd4","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":942.1050033569336,"y":48.57485580444336,"wires":[["f6f59ff3.e675"],["5841b0aa.76b6d"],["5841b0aa.76b6d"]]},{"id":"bcff8a4d.cf2e28","type":"function","z":"59a59a98.66fdd4","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":666.1049041748047,"y":50.486629486083984,"wires":[["b3e4a749.2811c8"]]},{"id":"f6f59ff3.e675","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing complete from bedroom","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1282.7643203735352,"y":35.71769905090332,"wires":[[]]},{"id":"ec2bc14c.57b7d","type":"switch","z":"59a59a98.66fdd4","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":944.5226898193359,"y":178.57485580444336,"wires":[["a635ff12.9bc2a"],["ad313432.01f068"],["ad313432.01f068"]]},{"id":"c33ed5b3.fdcdd8","type":"function","z":"59a59a98.66fdd4","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":665.6654243469238,"y":180.48664093017578,"wires":[["ec2bc14c.57b7d"]]},{"id":"a635ff12.9bc2a","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say 3D printing has started from bedroom","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1277.3798828125,"y":155.71771240234375,"wires":[[]]},{"id":"25269e81.35e672","type":"api-current-state","z":"59a59a98.66fdd4","name":"Get Printing State","server":"67fb9d0f.36c644","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cr10s_pro_current_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":363.5118408203125,"y":423.19463992118835,"wires":[["2e7bbe9.96e3742"]]},{"id":"80cd7de6.37e22","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from lounge","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"The printing status is unknown"},"devices":["G090U509851613N5"]}},"x":1462.2916259765625,"y":442.57921981811523,"wires":[[]]},{"id":"e536ea65.b3acf8","type":"switch","z":"59a59a98.66fdd4","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1154.3278503417969,"y":419.938756942749,"wires":[["124eea28.295036"],["80cd7de6.37e22"],["80cd7de6.37e22"]]},{"id":"e4e5cf02.57eeb","type":"function","z":"59a59a98.66fdd4","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":874.5181159973145,"y":420.4219226837158,"wires":[["e536ea65.b3acf8"]]},{"id":"124eea28.295036","type":"alexa-remote-routine","z":"59a59a98.66fdd4","name":"Say printing status from bedroom","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"The printing status is unknown"},"devices":["G090LF1174832KTQ"]}},"x":1465.785976409912,"y":389.56943702697754,"wires":[[]]},{"id":"2e7bbe9.96e3742","type":"switch","z":"59a59a98.66fdd4","name":"If printing status is unknown","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":593.0058898925781,"y":423.02793312072754,"wires":[["e4e5cf02.57eeb"],["4f7523ec.4eecac"]]},{"id":"67fb9d0f.36c644","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"b239b309.c9557","type":"alexa-remote-account","z":"","name":"alexa","authMethod":"proxy","proxyOwnIp":"192.168.1.10","proxyPort":"9999","cookieFile":"authd","refreshInterval":"3","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-GB","userAgent":"","useWsMqtt":"on","autoInit":"on"}]